# Many thanks to https://blog.scottnonnenberg.com/better-git-configuration/
[pull]
	rebase = true
[push]
	default = current
	followTags = true
[alias]
	prune = fetch --prune
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	glogtags = log --tags --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	showfiles = diff-tree --no-commit-id --name-only -r
	find = log --all --pretty=\"format:%Cgreen%H %Cblue%s\n%b%Creset\" --name-status --grep
[merge]
	ff = only
	conflictstyle = diff3
[status]
	showUntrackedFiles = all
[transfer]
	fsckobjects = true
[fetch]
	prune = true
[core]
	autocrlf = input
	editor = vim
[credential]
	helper = store

