# Many thanks to https://blog.scottnonnenberg.com/better-git-configuration/
[user]
	name = Stéphane Trebel
	email = stephane.trebel@capgemini.com
[pull]
	rebase = true
[push]
	default = simple
	followTags = true
[alias]
	prune = fetch --prune
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[merge]
	ff = only
	conflictstyle = diff3
[status]
	showUntrackedFiles = all
[transfer]
	fsckobjects = true
[fetch]
	prune = true
[core]
	autocrlf = true
